// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Color Palette
$flute-blue: #EDF2F9;
$brass-yellow: #FFE45C;
$guitar-brown: #B49286;
$violin-red: #744253;
$piano-black: #181223;
