<div class="card-guide">
  <h2>How to rent an instrument</h2>
  <div id="carouselRent" class="carousel slide mt-4">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%# <img src="..." class="d-block w-100" alt="..."> %>
      <i class="fa-solid fa-location-dot"></i>
      <h5>Specify Location</h5>
    </div>
    <div class="carousel-item">
      <%# <img src="..." class="d-block w-100" alt="..."> %>
      <i class="fa-solid fa-calendar"></i>
      <h5>Specify Start and Enddate</h5>
    </div>
    <div class="carousel-item">
      <%# <img src="..." class="d-block w-100" alt="..."> %>
      <i class="fa-solid fa-guitar"></i>
      <h5>Specify Instrument</h5>
    </div>
    <div class="carousel-item">
      <%# <img src="..." class="d-block w-100" alt="..."> %>
      <i class="fa-solid fa-user-plus"></i>
      <h5>Create Account</h5>
    </div>
    <div class="carousel-item">
      <%# <img src="..." class="d-block w-100" alt="..."> %>
      <i class="fa-solid fa-credit-card"></i>
      <h5>Complete Booking</h5>
    </div>
    <div class="carousel-item">
      <%# <img src="..." class="d-block w-100" alt="..."> %>
      <i class="fa-solid fa-suitcase-rolling"></i>
      <h5>Pick Up Instrument</h5>
    </div>
    <div class="carousel-item">
      <%# <img src="..." class="d-block w-100" alt="..."> %>
      <i class="fa-solid fa-hands-clapping"></i>
      <h5>Have fun Playing</h5>
    </div>
    <div class="carousel-item">
      <%# <img src="..." class="d-block w-100" alt="..."> %>
      <i class="fa-solid fa-suitcase-rolling"></i>
      <h5>Return Instrument</h5>
    </div>
    <div class="carousel-item">
      <%# <img src="..." class="d-block w-100" alt="..."> %>
      <i class="fa-solid fa-star"></i>
      <h5>Review Experience</h5>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselRent" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselRent" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <div class="carousel-idicator-rel">
  <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselRentIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselRentIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselRentIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselRentIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselRentIndicators" data-bs-slide-to="4" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselRentIndicators" data-bs-slide-to="5" aria-label="Slide 6"></button>
      <button type="button" data-bs-target="#carouselRentIndicators" data-bs-slide-to="6" aria-label="Slide 7"></button>
      <button type="button" data-bs-target="#carouselRentIndicators" data-bs-slide-to="7" aria-label="Slide 8"></button>
      <button type="button" data-bs-target="#carouselRentIndicators" data-bs-slide-to="8" aria-label="Slide 9"></button>
    </div>
  </div>
</div>
</div>
