<div class="banner banner-fullscreen" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_url('banner.jpg') %>);">
  <div class="container h-100">
    <div class="d-flex flex-column justify-content-end h-100">
      <h1>Tons of Tones lets you play every Instrument</h1>
      <p>Don't buy it. Just rent it.</p>
      <form action="/instruments">
        <div class="input-group my-4 mr-sm-2">
          <input type="search" class="form-control"  name="query" placeholder="Where do you search an instruemnt?">
          <div class="input-group-append">
            <div class="input-group-btn">
              <input type="submit" value="Search" class="btn btn-primary">
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<%= render "card_guide_rent" %>
<div>
</div>
<%= render "card_guide_offer" %>
<%= render "shared/footer" %>
