<h2>Rate the User's Performance</h2>

<%= simple_form_for [@booking, @user_review] do |f| %>
  <%= f.input :content, placeholder: "Share Your Experience with the Rental" %>

  <%= f.input :rating,
              label: "Rating",
              as: :select,
              collection: (0..5).to_a,
              prompt: 'Select a rating' %>

  <%= f.submit "Add Review", class: "btn btn-flat" %>
<% end %>
