<div id="review_show">
  <div class="rounded p-3 pb-10 mb-5">
    <h5 class="pt-3 pb-3">Your review for <%= @user_review.booking.user.first_name %></h5>

    <p>
      <strong>Rating:</strong>
      <% @user_review.rating.times do %>
        <i class="fas fa-star star-yellow"></i>
      <% end %>
      <% (5 - @user_review.rating).times do %>
        <i class="fas fa-star"></i>
      <% end %>
    </p>

    <p><strong>Comments:</strong></p>
    <p><%= @user_review.content %></p>

    <%= cl_image_tag @user_review.booking.instrument.photos.first.key, style: "width: 100%; height: auto; border-radius: 0.5rem;" %>

    <%= link_to 'Back', instrument_bookings_bookings_path, class: 'btn btn-secondary mt-4' %>
  </div>
</div>
