.instruments-card {
  background-color: $flute-blue;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 15px;

  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;

    h5 {
      font-weight: bold;
    }

    .card-text {
      display: -webkit-box;
      -webkit-line-clamp: 2; /* Limit to 2 lines */
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: normal; /* Ensure normal text */
      margin-bottom: 1rem;
    }

    .img-small {
      max-width: 50%; /* Ensure the image is responsive */
      height: auto;
      border-radius: 8px;
      margin-top: 1rem; /* Ensure proper spacing between text and image */
    }
  }
}
