$nav-height: 80px;

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: $nav-height;
  i {
    margin-left: 0.5rem;
    color: black;
    font-size: 1.2rem;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-textlogo {
  font-size: 20px;
  font-weight: 900;
  text-decoration: none;
  color: $piano-black;
  font-style: normal;
}

.nav-modal {
  width: 100vw!important;
  height: 100dvh!important;
  margin: 0;
}

.navbar-lewagon .navbar-nav {
  display: flex;
  align-items: center; /* This ensures vertical centering */
}
.navbar-toggler-icon {
  position: relative;
}
.navbar-notification {
  position: absolute;
  top: 20px;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $violin-red;
  border-radius: 50%;
  font-size: 10px;
  color: white;
  width: 20px;
  height: 20px;
}
