$nav-height: 8dvh;

.navbar-lewagon {
  justify-content: space-between;
  background: white;
  height: $nav-height;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
.navbar-textlogo {
  font-size: 20px;
  font-weight: 900;
  text-decoration: none;
  color: $piano-black;
  font-style: normal;
}

.nav-modal {
  width: 100vw!important;
  height: 100dvh!important;
  margin: 0;
}
