<%# The instrument needs to be passed as an attribute  %>
<form action="/instruments">
  <input type="search" name="category" value="<%= instrument.category %>" class="d-none">
  <input type="submit" class="btn btn-secondary" value="<%= instrument.category %>">
</form>
